
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json
Docker Commands.txt
julia-1.8.5-linux-x86_64.tar.gz

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json